//字体定义规范

// 字体颜色定义规范
$colorDefault = #666

// 背景颜色定义规范
$backgroundColorDefault = #fff

$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$fontSizeDetault = 12px
$fontSize-10 = 10px
$fontSize-14 = 14px
$fontSize-16 = 16px
$fontSize-18 = 18px
$fontSize-20 = 20px
$fontSize-22 = 22px
$fontSize-24 = 24px




/*
 字体大小 22px 24px  26px  28px  30px   32px  34px  36px  48px
 */
